CREATE DATABASE CinemaOnline
GO
USE [CinemaOnline]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](250) NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaRoom]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaRoom](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NULL,
	[RowQuantity] [int] NOT NULL,
	[Area] [float] NULL,
	[SeatQuantity] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[SoundQuality] [nvarchar](20) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.CinemaRoom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaysOfWeek]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaysOfWeek](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.DaysOfWeek] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[TrailerLink] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Actors] [nvarchar](max) NULL,
	[AgeRestriction] [int] NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
	[Directors] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Time] [time](7) NULL,
	[BannerUrl] [nvarchar](250) NULL,
	[TimeComing] [nvarchar](50) NULL,
	[Detail] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Film] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmMovieDisplayType]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmMovieDisplayType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[MovieDisplayTypeId] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.FilmMovieDisplayType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmMovieType]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmMovieType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[MovieTypeId] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.FilmMovieType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gallery]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gallery](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[CreationTime] [datetime] NOT NULL,
	[Url] [nvarchar](250) NULL,
	[UrlThumb] [nvarchar](250) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Gallery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieCalendar]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieCalendar](
	[Id] [uniqueidentifier] NOT NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[DaysOfWeekId] [uniqueidentifier] NOT NULL,
	[TimeFrameId] [uniqueidentifier] NOT NULL,
	[CinemaRoomId] [uniqueidentifier] NOT NULL,
	[MovieDisplayTypeId] [uniqueidentifier] NOT NULL,
	[Price] [float] NOT NULL,
	[StartWeek] [datetime] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[DateTimeDetail] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MovieCalendar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieDisplayType]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieDisplayType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.MovieDisplayType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieType]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](30) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.MovieType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Detail] [text] NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreaterId] [uniqueidentifier] NOT NULL,
	[BannerUrl] [nvarchar](250) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[SeatId] [uniqueidentifier] NOT NULL,
	[SeatName] [nvarchar](4) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeleteTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[SeatPrice] [float] NOT NULL,
	[FilmPrice] [float] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PromotionFilmId] [uniqueidentifier] NULL,
	[PromotionFilmPrice] [float] NULL,
	[PromotionToppingId] [uniqueidentifier] NULL,
	[PromotionToppingPrice] [float] NULL,
	[MovieCalendarId] [uniqueidentifier] NOT NULL,
	[FilmName] [nvarchar](max) NULL,
	[FilmType] [nvarchar](max) NULL,
	[RoomName] [nvarchar](max) NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[FilmPrice] [float] NOT NULL,
	[DayOfWeekPrice] [float] NOT NULL,
	[TimeFramePrice] [float] NOT NULL,
	[Time] [datetime] NOT NULL,
	[MovieDisplayTypePrice] [float] NOT NULL,
	[TicketNumber] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[Status] [int] NOT NULL,
	[Credits] [nvarchar](50) NULL,
	[TicketQuantity] [int] NOT NULL,
	[PaymentType] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeleteTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[Id] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreaterId] [uniqueidentifier] NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[KindOfPromotion] [nvarchar](50) NULL,
	[KindOfPromotionEnum] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[PromotionPercent] [float] NULL,
	[IsFilm] [bit] NOT NULL,
	[FilmId] [uniqueidentifier] NULL,
	[Code] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ToppingId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Promotion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[RoleEnum] [int] NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[Id] [uniqueidentifier] NOT NULL,
	[Row] [nvarchar](2) NULL,
	[Col] [nvarchar](2) NULL,
	[Status] [int] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[SeatTypeId] [uniqueidentifier] NULL,
	[CinemaRoomId] [uniqueidentifier] NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Seat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatType]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](15) NULL,
	[Price] [float] NOT NULL,
	[Color] [nvarchar](10) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.SeatType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeFrame]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeFrame](
	[Id] [uniqueidentifier] NOT NULL,
	[Time] [time](7) NOT NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.TimeFrame] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topping]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topping](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [float] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[KindOfTopping] [nvarchar](50) NULL,
	[KindOfToppingEnum] [int] NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Topping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToppingOrderDetail]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToppingOrderDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ToppingId] [uniqueidentifier] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeleteTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.ToppingOrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/4/2021 11:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Gender] [bit] NOT NULL,
	[IdentityCard] [nvarchar](15) NULL,
	[Email] [nvarchar](30) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NULL,
	[LinkAvata] [nvarchar](250) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([Id], [Name], [PhoneNumber], [UserName], [Password], [RoleId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'e003ef6f-7024-4954-9ce3-e47c38423cfa', N'Quản Trị', N'0973 642 032', N'admin', N'Qm4NOUG1h15CO2A3r4M8EQ==', N'418045e7-08de-43eb-b7da-787a46206a20', 0, NULL, NULL)
GO
INSERT [dbo].[CinemaRoom] ([Id], [Name], [RowQuantity], [Area], [SeatQuantity], [Status], [SoundQuality], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'6af7cb35-4318-4d4e-816b-48ecfe0081de', N'Phòng 02', 3, 0, 30, 1, N'Trung bình', 0, NULL, NULL)
INSERT [dbo].[CinemaRoom] ([Id], [Name], [RowQuantity], [Area], [SeatQuantity], [Status], [SoundQuality], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'ea91e71c-5c02-4deb-9eb4-e42596c3e056', N'Phòng 01', 8, 0, 82, 1, N'Trung bình', 0, NULL, NULL)
GO
INSERT [dbo].[DaysOfWeek] ([Id], [Name], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'8fdd10d2-b9de-4cc2-b4ed-081943e04673', N'Thứ 4', 0, 0, NULL, NULL)
INSERT [dbo].[DaysOfWeek] ([Id], [Name], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'2a18df6b-bfed-4925-ad20-0c9ddd4c1f33', N'Thứ 2', 0, 0, NULL, NULL)
INSERT [dbo].[DaysOfWeek] ([Id], [Name], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'ef7a3a06-8541-469f-812a-25cc75ec3626', N'Thứ 7', 10000, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[FilmMovieDisplayType] ON 

INSERT [dbo].[FilmMovieDisplayType] ([Id], [FilmId], [MovieDisplayTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (1, N'422946a8-d698-4f30-8519-2df652e45db8', N'b6dcdbda-a8d0-48df-b746-3520bdacdf00', 0, NULL, NULL)
INSERT [dbo].[FilmMovieDisplayType] ([Id], [FilmId], [MovieDisplayTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (2, N'4e422314-8df0-4709-aec0-e9bb1f4dde24', N'b6dcdbda-a8d0-48df-b746-3520bdacdf00', 0, NULL, NULL)
INSERT [dbo].[FilmMovieDisplayType] ([Id], [FilmId], [MovieDisplayTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (3, N'43117de0-c412-4973-b137-525ba7126d5f', N'b6dcdbda-a8d0-48df-b746-3520bdacdf00', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[FilmMovieDisplayType] OFF
GO
SET IDENTITY_INSERT [dbo].[FilmMovieType] ON 

INSERT [dbo].[FilmMovieType] ([Id], [FilmId], [MovieTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (16, N'422946a8-d698-4f30-8519-2df652e45db8', N'e6edee78-2fcc-424f-9295-7a6a6922ed9f', 0, NULL, NULL)
INSERT [dbo].[FilmMovieType] ([Id], [FilmId], [MovieTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (17, N'422946a8-d698-4f30-8519-2df652e45db8', N'c3b3c5d4-17c4-4092-a7fa-b60c24044c30', 0, NULL, NULL)
INSERT [dbo].[FilmMovieType] ([Id], [FilmId], [MovieTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (18, N'422946a8-d698-4f30-8519-2df652e45db8', N'f41b4bc5-ad42-40be-88b9-c555988ba53e', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[FilmMovieType] OFF
GO
INSERT [dbo].[MovieCalendar] ([Id], [FilmId], [DaysOfWeekId], [TimeFrameId], [CinemaRoomId], [MovieDisplayTypeId], [Price], [StartWeek], [IsDelete], [DeletetionTime], [DeleterId], [DateTimeDetail]) VALUES (N'6775927f-ba3f-4d17-b7c4-613e0a8a5257', N'4064aa30-61a5-44e9-b8bd-14d209d75c2a', N'2a18df6b-bfed-4925-ad20-0c9ddd4c1f33', N'038a8757-c9c7-4a1c-90d3-eaf7041330b7', N'6af7cb35-4318-4d4e-816b-48ecfe0081de', N'5f7d2e5d-7e41-447f-810e-b09ab162e313', 215000, CAST(N'2021-04-05T00:00:00.000' AS DateTime), 0, NULL, NULL, CAST(N'2021-04-05T18:50:00.000' AS DateTime))
INSERT [dbo].[MovieCalendar] ([Id], [FilmId], [DaysOfWeekId], [TimeFrameId], [CinemaRoomId], [MovieDisplayTypeId], [Price], [StartWeek], [IsDelete], [DeletetionTime], [DeleterId], [DateTimeDetail]) VALUES (N'd1329c0e-8e9a-43fc-b540-d14f829c8c22', N'4064aa30-61a5-44e9-b8bd-14d209d75c2a', N'2a18df6b-bfed-4925-ad20-0c9ddd4c1f33', N'3e0c22bc-1c66-45e2-8f17-5d896482188f', N'ea91e71c-5c02-4deb-9eb4-e42596c3e056', N'5f7d2e5d-7e41-447f-810e-b09ab162e313', 215000, CAST(N'2021-04-05T00:00:00.000' AS DateTime), 0, NULL, NULL, CAST(N'2021-04-05T18:00:00.000' AS DateTime))
INSERT [dbo].[MovieCalendar] ([Id], [FilmId], [DaysOfWeekId], [TimeFrameId], [CinemaRoomId], [MovieDisplayTypeId], [Price], [StartWeek], [IsDelete], [DeletetionTime], [DeleterId], [DateTimeDetail]) VALUES (N'b49995ca-058e-46be-a1c5-fd131af36441', N'422946a8-d698-4f30-8519-2df652e45db8', N'64d8d1d8-8c32-492f-9930-d30a88e09171', N'0b8b243f-9b8a-4227-8e12-2dbd6cf9564f', N'6af7cb35-4318-4d4e-816b-48ecfe0081de', N'b6dcdbda-a8d0-48df-b746-3520bdacdf00', 235000, CAST(N'2021-04-04T00:00:00.000' AS DateTime), 0, NULL, NULL, CAST(N'2021-04-10T19:00:00.000' AS DateTime))
GO
INSERT [dbo].[MovieDisplayType] ([Id], [Name], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'b6dcdbda-a8d0-48df-b746-3520bdacdf00', N'3D', 10000, 0, NULL, NULL)
INSERT [dbo].[MovieDisplayType] ([Id], [Name], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'5f7d2e5d-7e41-447f-810e-b09ab162e313', N'2D', 0, 0, NULL, NULL)
GO
INSERT [dbo].[MovieType] ([Id], [Name], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'e6edee78-2fcc-424f-9295-7a6a6922ed9f', N'Fantasy', 0, NULL, NULL)
INSERT [dbo].[MovieType] ([Id], [Name], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'c3b3c5d4-17c4-4092-a7fa-b60c24044c30', N'Adventure', 0, NULL, NULL)
INSERT [dbo].[MovieType] ([Id], [Name], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'f41b4bc5-ad42-40be-88b9-c555988ba53e', N'Drama', 0, NULL, NULL)
GO
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [SeatId], [SeatName], [IsDelete], [DeleteTime], [DeleterId], [SeatPrice], [FilmPrice]) VALUES (N'dff4297d-393c-4cad-aa67-2e176ca15e25', N'fbfe2885-ce6c-46d8-9b88-a29fe097ea57', N'72ad7e53-2c98-439e-97ee-c47f10a4afc8', N'D4', 0, NULL, NULL, 10000, 155000)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [SeatId], [SeatName], [IsDelete], [DeleteTime], [DeleterId], [SeatPrice], [FilmPrice]) VALUES (N'59fc6868-2e75-4c91-9b28-d2b69969c7d0', N'fbfe2885-ce6c-46d8-9b88-a29fe097ea57', N'4af3131e-ef99-4eee-9f3d-f977bfcdeaa1', N'D3', 0, NULL, NULL, 10000, 155000)
GO
INSERT [dbo].[Role] ([Id], [Name], [RoleEnum]) VALUES (N'418045e7-08de-43eb-b7da-787a46206a20', N'Admin', 1)
GO
INSERT [dbo].[Seat] ([Id], [Row], [Col], [Status], [Color], [Price], [SeatTypeId], [CinemaRoomId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'fdd3de05-e840-49fe-b9ca-01a117591e0c', N'H', N'6', 0, N'#ED417B', 35000, N'82fa1575-6168-44ff-bff6-9f37d39fe59c', N'ea91e71c-5c02-4deb-9eb4-e42596c3e056', 0, NULL, NULL)
INSERT [dbo].[Seat] ([Id], [Row], [Col], [Status], [Color], [Price], [SeatTypeId], [CinemaRoomId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'93323b7c-c5ce-4d55-a19a-026d9251e90a', N'A', N'3', 0, N'#0391D1', 10000, N'f477dd30-fe61-46ac-963d-824fbedceea2', N'ea91e71c-5c02-4deb-9eb4-e42596c3e056', 0, NULL, NULL)
INSERT [dbo].[Seat] ([Id], [Row], [Col], [Status], [Color], [Price], [SeatTypeId], [CinemaRoomId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'46b09e18-cb53-4e75-b477-042e1a115b66', N'E', N'6', 0, N'#0391D1', 10000, N'f477dd30-fe61-46ac-963d-824fbedceea2', N'ea91e71c-5c02-4deb-9eb4-e42596c3e056', 0, NULL, NULL)
GO
INSERT [dbo].[SeatType] ([Id], [Name], [Price], [Color], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'ed2e6eaf-0ead-4416-801a-276c9ac8edfd', N'Lamour', 15000, N'#DB9A00', 0, NULL, NULL)
INSERT [dbo].[SeatType] ([Id], [Name], [Price], [Color], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'42b2608a-9218-48e0-8fbb-356102ea5127', N'Vip', 20000, N'#79AF3A', 0, NULL, NULL)
INSERT [dbo].[SeatType] ([Id], [Name], [Price], [Color], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'5ac66b9f-575c-4cc3-b092-74e560c53b0e', N'Deluxe', 20000, N'#1F897F', 0, NULL, NULL)
GO
INSERT [dbo].[TimeFrame] ([Id], [Time], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'0b8b243f-9b8a-4227-8e12-2dbd6cf9564f', CAST(N'19:00:00' AS Time), 5000, 0, NULL, NULL)
INSERT [dbo].[TimeFrame] ([Id], [Time], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'3e0c22bc-1c66-45e2-8f17-5d896482188f', CAST(N'18:00:00' AS Time), 5000, 0, NULL, NULL)
INSERT [dbo].[TimeFrame] ([Id], [Time], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'f2ef7fad-f92b-4f7b-8652-750c8a163534', CAST(N'00:00:00' AS Time), 65000, 1, CAST(N'2021-04-04T22:49:03.9907418' AS DateTime2), N'e003ef6f-7024-4954-9ce3-e47c38423cfa')
GO
INSERT [dbo].[Topping] ([Id], [Name], [Price], [ImageUrl], [KindOfTopping], [KindOfToppingEnum], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'ffe5438e-0e28-40a0-9387-8c5d2c31232e', N'Kem Cheee', 55000, N'/FileUploads/files/kem%20li1.jpg', N'Thức uống', 0, 0, NULL, NULL)
INSERT [dbo].[Topping] ([Id], [Name], [Price], [ImageUrl], [KindOfTopping], [KindOfToppingEnum], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'44abf671-87f4-479d-9ab9-df407b55255d', N'Bỏng Ngô', 10000, N'/FileUploads/files/bimbim.jpg', N'Thức uống', 0, 0, NULL, NULL)
GO
INSERT [dbo].[ToppingOrderDetail] ([Id], [OrderId], [ToppingId], [Price], [Quantity], [IsDelete], [DeleteTime], [DeleterId]) VALUES (N'bd921ac6-1021-4435-854e-2c32ff9d1f54', N'fbfe2885-ce6c-46d8-9b88-a29fe097ea57', N'ffe5438e-0e28-40a0-9387-8c5d2c31232e', 55000, 1, 0, NULL, NULL)
INSERT [dbo].[ToppingOrderDetail] ([Id], [OrderId], [ToppingId], [Price], [Quantity], [IsDelete], [DeleteTime], [DeleterId]) VALUES (N'0537b86f-d8fe-48e5-8824-f4618fbd7f8a', N'fbfe2885-ce6c-46d8-9b88-a29fe097ea57', N'44abf671-87f4-479d-9ab9-df407b55255d', 10000, 1, 0, NULL, NULL)
GO
INSERT [dbo].[Users] ([Id], [FullName], [Gender], [IdentityCard], [Email], [DateOfBirth], [Phone], [Username], [Password], [LinkAvata], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'a57aa8ba-825a-4521-9501-3105ab15d2ac', N'Nathalie Riviere', 1, NULL, N'cxq29306@zwoho.com', CAST(N'1998-10-01T00:00:00.000' AS DateTime), N'0465330288', N'client', N'7AHIx4e55p5e679/EO9cq8D9eo0uB7BC', N'/Content/images/team/2.png', 0, NULL, NULL)
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Admin_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_dbo.Admin_dbo.Role_RoleId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[FilmMovieDisplayType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmMovieDisplayType_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmMovieDisplayType] CHECK CONSTRAINT [FK_dbo.FilmMovieDisplayType_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[FilmMovieDisplayType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmMovieDisplayType_dbo.MovieDisplayType_MovieDisplayTypeId] FOREIGN KEY([MovieDisplayTypeId])
REFERENCES [dbo].[MovieDisplayType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmMovieDisplayType] CHECK CONSTRAINT [FK_dbo.FilmMovieDisplayType_dbo.MovieDisplayType_MovieDisplayTypeId]
GO
ALTER TABLE [dbo].[FilmMovieType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmMovieType_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmMovieType] CHECK CONSTRAINT [FK_dbo.FilmMovieType_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[FilmMovieType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmMovieType_dbo.MovieType_MovieTypeId] FOREIGN KEY([MovieTypeId])
REFERENCES [dbo].[MovieType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmMovieType] CHECK CONSTRAINT [FK_dbo.FilmMovieType_dbo.MovieType_MovieTypeId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.CinemaRoom_CinemaRoomId] FOREIGN KEY([CinemaRoomId])
REFERENCES [dbo].[CinemaRoom] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.CinemaRoom_CinemaRoomId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.DaysOfWeek_DaysOfWeekId] FOREIGN KEY([DaysOfWeekId])
REFERENCES [dbo].[DaysOfWeek] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.DaysOfWeek_DaysOfWeekId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.MovieDisplayType_MovieDisplayTypeId] FOREIGN KEY([MovieDisplayTypeId])
REFERENCES [dbo].[MovieDisplayType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.MovieDisplayType_MovieDisplayTypeId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.TimeFrame_TimeFrameId] FOREIGN KEY([TimeFrameId])
REFERENCES [dbo].[TimeFrame] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.TimeFrame_TimeFrameId]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_dbo.News_dbo.Admin_CreaterId] FOREIGN KEY([CreaterId])
REFERENCES [dbo].[Admin] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_dbo.News_dbo.Admin_CreaterId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.Seat_SeatId] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seat] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.Seat_SeatId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.MovieCalendar_MovieCalendarId] FOREIGN KEY([MovieCalendarId])
REFERENCES [dbo].[MovieCalendar] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.MovieCalendar_MovieCalendarId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Promotion_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK_dbo.Promotion_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Promotion_dbo.Topping_ToppingId] FOREIGN KEY([ToppingId])
REFERENCES [dbo].[Topping] ([Id])
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK_dbo.Promotion_dbo.Topping_ToppingId]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Seat_dbo.CinemaRoom_CinemaRoomId] FOREIGN KEY([CinemaRoomId])
REFERENCES [dbo].[CinemaRoom] ([Id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_dbo.Seat_dbo.CinemaRoom_CinemaRoomId]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Seat_dbo.SeatType_SeatTypeId] FOREIGN KEY([SeatTypeId])
REFERENCES [dbo].[SeatType] ([Id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_dbo.Seat_dbo.SeatType_SeatTypeId]
GO
ALTER TABLE [dbo].[ToppingOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ToppingOrderDetail_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ToppingOrderDetail] CHECK CONSTRAINT [FK_dbo.ToppingOrderDetail_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[ToppingOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ToppingOrderDetail_dbo.Topping_ToppingId] FOREIGN KEY([ToppingId])
REFERENCES [dbo].[Topping] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ToppingOrderDetail] CHECK CONSTRAINT [FK_dbo.ToppingOrderDetail_dbo.Topping_ToppingId]
GO
